@import 'colors';
@import 'bootstrap-mixins';

@counter-style h2-counter-style {
  system: extends decimal;
  suffix: '.';
  pad: 2 '0';
}

article {
  counter-reset: h2-counter;

  section {
    &:not(:first-child) {
      color: $body-secondary-color;
      margin-bottom: 2.5rem;
      background-color: var(--bs-tertiary-bg);
      padding: 1.5rem 2rem;

      @include border;
      @include rounded;
    }

    &:last-of-type {
      margin-bottom: 1rem;
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }

  h2, h3 {
    color: white;
    font-family: var(--bs-body-font-family), sans-serif;

    &::before {
      display: inline-block;
      margin-right: 0.4em;
      font-weight: normal;
      color: darken($primary, 10%);
      font-family: var(--bs-font-monospace), monospace;
    }
  }

  h2 {
    font-size: 1.5rem;
    counter-increment: h2-counter;
    counter-reset: h3-counter;

    &::before {
      content: counter(h2-counter, h2-counter-style);
    }
  }

  h3 {
    font-size: 1.25rem;
    color: white;
    counter-increment: h3-counter;

    &::before {
      content: counter(h3-counter, lower-alpha);
    }
  }
}
